.home__body {
  /* background-color: yellow; */
  height: 100%;
  padding: 0 2rem;
  /* Calculation done, as a width of hundred percent does not give the desired result. */
  /* The width available is calculated by using the full width of the viewport and deducting the NavBar & TaskBar width. */
  width: calc(100vw - (84px + 284px));
}

.home__cards {
  display: flex;
  width: 100%;
}

.home__clients,
.home__projects {
  display: flex;
  overflow: scroll;
  width: 100%;
}

.home__title {
  display: flex;
  font-weight: 300;
  margin: 1rem 0;
}
